VITE_BACKEND_URL=http://localhost:4100
VITE_DEMO_MODE=false
VITE_PAYMENT_PROCESSOR=TNILE_PAYMENT_PROCESSOR_ADDRESS
VITE_FEE_LIMIT_SUN=120000000
VITE_PAYMENT_DEADLINE_SECONDS=900
VITE_TRONSCAN_BASE_URL=https://nile.tronscan.org/#
VITE_SUPPORTED_ASSETS_JSON=[{"token":"TWTRX_ADDRESS","symbol":"WTRX","decimals":6,"usdtRate":0.11,"feeBps":30},{"token":"TJST_ADDRESS","symbol":"JST","decimals":18,"usdtRate":0.19,"feeBps":35},{"token":"TSUN_ADDRESS","symbol":"SUN","decimals":18,"usdtRate":0.14,"feeBps":40}]
